/*     SAYLTNING BOSH QISMI       */
.header {

    background-color: #FFFFFF;
}
.header nav ul li a {
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.orange-button {
    width: 155px;
    height: 39px;
    background-color: #FF7500;
    color: white;
    font-size: 13px;
    line-height: 1;
    letter-spacing: 0.5px;
}


/*                 SAYTNING TANASI             */
/*     KITOB REKLAMASI QISMI     */ 
    

.advertisement{
    background-color: #252420;
}

.advertisement div {
    width: 387px;
}

.orange-line {
    width: 80px;
    height: 3px;
    background-color: #FF7500;
}

.advertisement div h2 {
    width: 339px;
    color: #FFFFFF;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.5px;
}

.advertisement div p {
    width: 387px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

.advertisement img {
    width: 510px;
    height: 510px;
    float: right;
}

/*    NEGA AYNAN AKADEMNASHR    */

.about {
    background-color: #FFFFFF;
}



.about h2 {
    width: 435px;
    font-size: 72px;
    line-height: 1.2;
    letter-spacing: 0.5px;
}

.about ul {
    width: 1100px;
}

.about li {
    width: 340px;
}

.about img {
    width: 100px;
    height: 100px;
    background-color: rgba(255, 117, 0, 0.2);
}

.about h3 {
    font-size: 24px;
    line-height: 1.2;
    color: #000000;
    initial-letter: 0.5px;
}

.about li:nth-child(1) h3{
    width: 214px;
}
.about li:nth-child(2) h3{
    width: 170px;
}
.about li:nth-child(3) h3{
    width: 196px;
}

.about p {
    width: 314px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    color: #000000;
}

/*        SAYTNING AKSIYA         */
 .action {
    background-color: #252420;
    color: #FFFFFF;
 }

.action div {
    width: 440px;
    height: 291px;
}

.action h3 {
    width: 373px;
    height: 96px;
    color: #FFFFFF;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.5px;
}

.action p{
    width: 440px;
    height: 96px;
}

.action strong{
    color: #FF7500;
}

.action img {
    width: 440px;
    height: 440px;
    float: right;
}


/* SAYTNING FOOTER (PODVAL) QISMI */

.footer {
    width: 1440px;
    background-color: #F8F8F8;
}

.footer hr {
    width: 1100px;
    height: 2px;
    background-color: rgba(37, 36, 32, 0.5);
}

.navigator-footer {
    width: 1100px;
}

.navigator-footer li a {
    width: 224px;
    height: 19px;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0px;
    text-decoration: none;
    color: #000000;
}

.navigator-footer ul {
    width: 224px;
}


